<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="600 seconds" debug="false">

	<property name="log_dir" value="logs" />
	<property name="maxHistory" value="720" /><!-- unit: hour -->

	<!-- LEVEL: ERROR -->
	<appender name="logError"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_dir}/rtc_error.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_dir}/rtc_error.log.%d{yyyy-MM-dd-HH}.%i
			</fileNamePattern>
			<maxHistory>${maxHistory}</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] [%c] - %m%n</pattern>
		</encoder>
	</appender>

	<!-- LEVEL: WARN -->
	<appender name="logWarn"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_dir}/rtc_warn.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_dir}/rtc_warn.log.%d{yyyy-MM-dd-HH}.%i
			</fileNamePattern>
			<maxHistory>${maxHistory}</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] [%c] - %m%n</pattern>
		</encoder>
	</appender>

	<!-- LEVEL: INFO -->
	<appender name="logInfo"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_dir}/rtc.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_dir}/rtc.log.%d{yyyy-MM-dd-HH}.%i
			</fileNamePattern>
			<maxHistory>${maxHistory}</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] - %m%n</pattern>
		</encoder>
	</appender>

	<!-- LEVEL: DEBUG -->
	<appender name="logDebug"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_dir}/rtc_debug.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_dir}/rtc_debug.log.%d{yyyy-MM-dd-HH}.%i
			</fileNamePattern>
			<maxHistory>${maxHistory}</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] [%c] - %m%n</pattern>
		</encoder>
	</appender>

	<!-- package: cn.utstarcom.rtc -->
	<logger name="cn.utstarcom.rtc" level="INFO" />

	<!-- package: org.springframework -->
	<logger name="org.springframework" level="INFO" />
	
	<!-- package: io.netty -->
    <logger name="io.netty" level="INFO" />
    
    <!-- package: org.apache.kafka -->
    <logger name="org.apache.kafka" level="INFO" />
    
    <!-- package: jboss logging log exception handle -->
    <logger name="INFO" level="WARN"/>

	<!-- root -->
	<root level="DEBUG">
		<appender-ref ref="logError" />
		<appender-ref ref="logWarn" />
		<appender-ref ref="logInfo" />
		<appender-ref ref="logDebug" />
	</root>

</configuration> 
